#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 30vh;
  background-color: #b1b1b1;
  border-radius: 8px;
}

.heading {
  font-family: "Arial", sans-serif;
  color: #000000;
  margin-bottom: 20px;
  font-size: 36px;
}

.sign-out-button {
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.sign-out-button:hover {
  background-color: #5c5c5c;
  transform: scale(1.05);
}

.sign-out-button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
